<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secure File Storage Using Hybrid Cryptography</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro&display=swap" rel="stylesheet">
</head>	

<body style="margin:0%">
	<div class="top-container">
		<h1 class="heading">Secure File Storage Using Hybrid Cryptography</h1>
		<img class="security" src="static/images/security.png" alt="secure" width="100px">
		<img class="encrypt" src="static/images/encryption.png" alt="Encrypt" width="200px">

	</div>
	

	<div class="middle-container">
		<h1 class="heading1">Tools</h1>
		<img class="tool-box" src="static/images/tool-box.png" alt="tool-box" width="100px">
		<center>
		<table>
			
			<tr>
				<td><a class="btn" href="upload">Upload</a></td>
				<td style="padding-left: 30px;"><a class="btn" href="download">Restore</a></td>
			</tr>
		</table>
	</center>
	</div>
	
    <div class="contact-me">
    	<h1 class="heading2">Get In Touch</h1><br>
		<img class="communicate" src="static/images/communicate.png" alt="communicate" width="100px">
    	<a class="contact" href="mailto:youremail.com">CONTACT US</a><br> <!-- Write your EMAIL here -->

		<a class="footer-link" href="https://www.linkedin.com">LinkedIn</a> <!-- Write your LINKEDIN here -->
    	<a class="footer-link" href="https://twitter.com">Twitter</a><br> <!-- Write your TWITTER here -->
    	<h5 style="margin-bottom: 0;">©YOUR NAME 2022</h5> <!-- Write your NAME here -->
    </div>
	

</body>
</html>