<html>
	<head style="text-align: center;">
		<title>File Uploaded Successfully</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
  		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  		<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro&display=swap" rel="stylesheet">
	</head>
	<body style="text-align: center;">
		
		<div>
			<h1 class="heading-sample" style="padding-top: 70px;">Secure File Storage Using Hybrid Cryptography</h1><br>
			<h2 class="heading-sample1" style="padding-top: 40px;">File Uploaded Successfully</h2>
			<img class="received" src="static/images/received.png" alt="received" width="100px">
		</div>
			<center>
			<table>
				<tr>
					<td><a class="btn" href='return-key/My_Key.pem' target="blank">Download Key</a></td>
					<td style="padding-left: 30px;" ><a class="btn" href='home'>Back to HOME</a></td>
				</tr>
			</table>
			</center>
	</body>
</html>